.hero {
  padding: 70px 0 50px;

  &__link {
    background-color: var(--orange);
    align-self: center;
    transition: var(--duration) background-color;

    &:hover {
      background-color: darken(#ffb548, 10);
    }
  }

  &__container {
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &__main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__wrapper,
  &__slide {
    height: 100%;
    width: 100%;
    position: relative;
    flex-shrink: 0;
    display: block;
  }

  &__subtitle {
    margin-bottom: 30px;
  }
}
