.card {
  display: grid;
  place-items: center;
  background: linear-gradient(90deg, #693a0a, #b79f37);
  padding: 20px 0;

  &__container {
    gap: 40px;
    margin: auto;
    padding: 60px 0;
    max-width: var(--container-width);
  }

  &__content {
    padding-left: 25px;
    grid-column: 8 span;

    @media (max-width: 1360px) {
      grid-column: 7 span;
    }

    @media (max-width: 768px) {
      grid-column: 12 span;
    }
  }

  &__title {
    border-bottom: 3px solid var(--white);
    margin-right: 60px;
    font-size: 56px;

    @media (max-width: 768px) {
      font-size: 36px;
    }
  }

  &__subtitle {
    display: flex;
    gap: 15px;

    @media (max-width: 500px) {
      flex-direction: column-reverse;
    }
  }

  &__links {
    display: flex;
    gap: 15px;
  }

  &__text {
    color: var(--white);
    margin-top: 1.5rem;
    max-width: 745px;
    overflow: hidden;
    max-height: calc(1.5rem * 3);
    line-height: 1.5rem;
    transition: all 0.8s ease;
    scrollbar-width: thin;

    &:hover {
      overflow-y: auto;
      max-height: calc(1.5rem * 12);
    }
  }

  &__right {
    grid-column: 4 span;
    padding: 20px 10px;

    @media (max-width: 1360px) {
      grid-column: 5 span;
      place-self: center;
    }

    @media (max-width: 768px) {
      grid-column: 12 span;
    }
  }

  &__img {
    border-radius: 20px;
  }
}

.card:has(.loader) {
  min-height: 100vh;
}
